USE [master]
GO
/****** Object:  Database [Readify]    Script Date: 06.05.2025 15:40:06 ******/
CREATE DATABASE [Readify]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Readify', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Readify.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Readify_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Readify_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Readify].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Readify]
GO
/****** Object:  Table [dbo].[BookReviews]    Script Date: 06.05.2025 15:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookReviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_author] [int] NOT NULL,
	[id_book] [int] NOT NULL,
	[comment] [nvarchar](2000) NOT NULL,
	[rating] [tinyint] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_BookReviews] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 06.05.2025 15:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[page_quantity] [int] NOT NULL,
	[id_author] [int] NOT NULL,
	[cover_image_path] [nvarchar](250) NOT NULL,
	[file_book_path] [nvarchar](200) NOT NULL,
	[id_genre] [int] NOT NULL,
	[is_private] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 06.05.2025 15:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libraries]    Script Date: 06.05.2025 15:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libraries](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[id_book] [int] NOT NULL,
	[progress_page] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Libraries] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 06.05.2025 15:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[action] [nvarchar](200) NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 06.05.2025 15:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06.05.2025 15:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nickname] [nvarchar](50) NOT NULL,
	[description] [nvarchar](250) NULL,
	[avatar_image_path] [nvarchar](255) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[id_role] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSessions]    Script Date: 06.05.2025 15:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSessions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[refresh_token_hash] [nvarchar](255) NOT NULL,
	[device_type] [nvarchar](50) NOT NULL,
	[expires_in] [datetime] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_UserSessions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSubscribers]    Script Date: 06.05.2025 15:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSubscribers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_author] [int] NOT NULL,
	[id_subscriber] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_UserSubscribers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[СonfirmationСodes]    Script Date: 06.05.2025 15:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[СonfirmationСodes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](6) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[expires_in] [datetime] NOT NULL,
 CONSTRAINT [PK_СonfirmationСodes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BookReviews] ON 

INSERT [dbo].[BookReviews] ([id], [id_author], [id_book], [comment], [rating], [created_at]) VALUES (15, 11, 1, N'Ничо не понял', 5, CAST(N'2025-02-05T00:00:00.000' AS DateTime))
INSERT [dbo].[BookReviews] ([id], [id_author], [id_book], [comment], [rating], [created_at]) VALUES (28, 39, 27, N'Лишь утратив всё до конца, мы обретаем свободу', 5, CAST(N'2025-05-05T21:22:52.817' AS DateTime))
INSERT [dbo].[BookReviews] ([id], [id_author], [id_book], [comment], [rating], [created_at]) VALUES (29, 40, 27, N'Преодолеть страх. Отсечь лишнее. Отвергнуть все, что не имеет подлинной ценности. И скользить.', 5, CAST(N'2025-05-05T21:31:20.020' AS DateTime))
SET IDENTITY_INSERT [dbo].[BookReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([id], [name], [description], [page_quantity], [id_author], [cover_image_path], [file_book_path], [id_genre], [is_private], [created_at]) VALUES (5, N'Книга 5', N'Описание книги 5', 0, 5, N'images\books\covers\book-cover-id11.png', N'images\books\files\book-file-id15.pdf', 1, 0, CAST(N'2025-02-05T13:58:36.563' AS DateTime))
INSERT [dbo].[Books] ([id], [name], [description], [page_quantity], [id_author], [cover_image_path], [file_book_path], [id_genre], [is_private], [created_at]) VALUES (7, N'Книга 7', N'Описание книги 7', 0, 7, N'images\books\covers\book-cover-id11.png', N'images\books\files\book-file-id15.pdf', 1, 0, CAST(N'2025-02-05T13:58:36.563' AS DateTime))
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([id], [name]) VALUES (1, N'Фантастика')
INSERT [dbo].[Genres] ([id], [name]) VALUES (4, N'Научная литература')
INSERT [dbo].[Genres] ([id], [name]) VALUES (5, N'История')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
SET IDENTITY_INSERT [dbo].[Libraries] ON 

INSERT [dbo].[Libraries] ([id], [id_user], [id_book], [progress_page], [created_at]) VALUES (48, 28, 28, 0, CAST(N'2025-05-05T20:54:11.600' AS DateTime))
INSERT [dbo].[Libraries] ([id], [id_user], [id_book], [progress_page], [created_at]) VALUES (49, 28, 29, 0, CAST(N'2025-05-05T21:02:23.203' AS DateTime))
INSERT [dbo].[Libraries] ([id], [id_user], [id_book], [progress_page], [created_at]) VALUES (50, 39, 27, 0, CAST(N'2025-05-05T21:21:29.813' AS DateTime))
SET IDENTITY_INSERT [dbo].[Libraries] OFF
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([id], [id_user], [action], [created_at]) VALUES (11, 11, N'Registration', CAST(N'2025-02-05T11:02:21.163' AS DateTime))
INSERT [dbo].[Logs] ([id], [id_user], [action], [created_at]) VALUES (12, 11, N'Generate token', CAST(N'2025-02-05T11:02:44.053' AS DateTime))
INSERT [dbo].[Logs] ([id], [id_user], [action], [created_at]) VALUES (13, 11, N'Login', CAST(N'2025-02-05T11:02:44.080' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id], [name]) VALUES (1, N'User')
INSERT [dbo].[Roles] ([id], [name]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [nickname], [description], [avatar_image_path], [name], [email], [password_hash], [id_role], [created_at]) VALUES (11, N'admin', N'Просто вася', N'images\users\user-id11.png', N'Василий', N'admin@mail.ru', N'AQAAAAIAAYagAAAAEL1KFs7oMZA26EWKbl26lP3I52+q1ez6BWe+ySGsy31U4Wx+yogj3WMi7K/GWKLJeA==', 2, CAST(N'2025-02-05T11:02:21.107' AS DateTime))
INSERT [dbo].[Users] ([id], [nickname], [description], [avatar_image_path], [name], [email], [password_hash], [id_role], [created_at]) VALUES (25, N'vasya', N'Описание', N'images\users\user-id25.png', N'Василий', N'vasya@readify.com', N'AQAAAAIAAYagAAAAEL1KFs7oMZA26EWKbl26lP3I52+q1ez6BWe+ySGsy31U4Wx+yogj3WMi7K/GWKLJeA==', 1, CAST(N'2025-03-23T20:41:16.810' AS DateTime))
INSERT [dbo].[Users] ([id], [nickname], [description], [avatar_image_path], [name], [email], [password_hash], [id_role], [created_at]) VALUES (26, N'ololosh', N'Я ололош', N'images\users\user-id26.png', N'Ололош', N'ololosh@kek.lol', N'AQAAAAIAAYagAAAAEL1KFs7oMZA26EWKbl26lP3I52+q1ez6BWe+ySGsy31U4Wx+yogj3WMi7K/GWKLJeA==', 1, CAST(N'2025-03-24T16:50:28.577' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserSessions] ON 

INSERT [dbo].[UserSessions] ([id], [id_user], [refresh_token_hash], [device_type], [expires_in], [created_at]) VALUES (11, 11, N'B7Z7uUjaKpz59eFfXSpL3i/AtTd27NxH5/Xz9JhJoS8=', N'swagger', CAST(N'2025-07-05T11:02:44.083' AS DateTime), CAST(N'2025-02-05T11:02:44.083' AS DateTime))
INSERT [dbo].[UserSessions] ([id], [id_user], [refresh_token_hash], [device_type], [expires_in], [created_at]) VALUES (12, 11, N'fyr8TjpfNP6iM8O3GdLCGM2Xej02VP40KYQdndQ3Ecw=', N'string', CAST(N'2025-02-21T22:58:52.800' AS DateTime), CAST(N'2025-02-06T22:58:52.800' AS DateTime))
INSERT [dbo].[UserSessions] ([id], [id_user], [refresh_token_hash], [device_type], [expires_in], [created_at]) VALUES (27, 11, N'gZLkZU0dktxTR44nLZCY1/EniyFXhiqIHdT8tvfnY/c=', N'web', CAST(N'2025-08-08T20:30:26.153' AS DateTime), CAST(N'2025-03-11T20:30:26.153' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserSessions] OFF
GO
SET IDENTITY_INSERT [dbo].[UserSubscribers] ON 

INSERT [dbo].[UserSubscribers] ([id], [id_author], [id_subscriber], [created_at]) VALUES (209, 28, 11, CAST(N'2025-05-05T22:09:21.367' AS DateTime))
INSERT [dbo].[UserSubscribers] ([id], [id_author], [id_subscriber], [created_at]) VALUES (210, 11, 28, CAST(N'2025-05-05T22:31:55.253' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserSubscribers] OFF
GO
SET IDENTITY_INSERT [dbo].[СonfirmationСodes] ON 

INSERT [dbo].[СonfirmationСodes] ([id], [code], [email], [expires_in]) VALUES (1, N'123456', N'user1@example.com', CAST(N'2025-02-05T14:58:36.563' AS DateTime))
INSERT [dbo].[СonfirmationСodes] ([id], [code], [email], [expires_in]) VALUES (2, N'234567', N'user2@example.com', CAST(N'2025-02-05T14:58:36.563' AS DateTime))
INSERT [dbo].[СonfirmationСodes] ([id], [code], [email], [expires_in]) VALUES (3, N'345678', N'user3@example.com', CAST(N'2025-02-05T14:58:36.563' AS DateTime))
SET IDENTITY_INSERT [dbo].[СonfirmationСodes] OFF
GO
ALTER TABLE [dbo].[Libraries] ADD  CONSTRAINT [DF_Libraries_progress_page]  DEFAULT ((0)) FOR [progress_page]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_avatar_image_path]  DEFAULT (N'images\users\default-avatar.png') FOR [avatar_image_path]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_id_role]  DEFAULT ((1)) FOR [id_role]
GO
ALTER TABLE [dbo].[BookReviews]  WITH CHECK ADD  CONSTRAINT [FK_BookReviews_Books1] FOREIGN KEY([id_book])
REFERENCES [dbo].[Books] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookReviews] CHECK CONSTRAINT [FK_BookReviews_Books1]
GO
ALTER TABLE [dbo].[BookReviews]  WITH CHECK ADD  CONSTRAINT [FK_BookReviews_Users] FOREIGN KEY([id_author])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[BookReviews] CHECK CONSTRAINT [FK_BookReviews_Users]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Genres] FOREIGN KEY([id_genre])
REFERENCES [dbo].[Genres] ([id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Genres]
GO
ALTER TABLE [dbo].[Libraries]  WITH CHECK ADD  CONSTRAINT [FK_Libraries_Books] FOREIGN KEY([id_book])
REFERENCES [dbo].[Books] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Libraries] CHECK CONSTRAINT [FK_Libraries_Books]
GO
ALTER TABLE [dbo].[Libraries]  WITH CHECK ADD  CONSTRAINT [FK_Libraries_Users] FOREIGN KEY([id_user])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Libraries] CHECK CONSTRAINT [FK_Libraries_Users]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_Users] FOREIGN KEY([id_user])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_Logs_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([id_role])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[UserSessions]  WITH CHECK ADD  CONSTRAINT [FK_UserSessions_Users] FOREIGN KEY([id_user])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSessions] CHECK CONSTRAINT [FK_UserSessions_Users]
GO
ALTER TABLE [dbo].[UserSubscribers]  WITH CHECK ADD  CONSTRAINT [FK_UserSubscribers_Users] FOREIGN KEY([id_author])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[UserSubscribers] CHECK CONSTRAINT [FK_UserSubscribers_Users]
GO
ALTER TABLE [dbo].[UserSubscribers]  WITH CHECK ADD  CONSTRAINT [FK_UserSubscribers_Users1] FOREIGN KEY([id_subscriber])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[UserSubscribers] CHECK CONSTRAINT [FK_UserSubscribers_Users1]
GO
USE [master]
GO
